/*   ==========================================================================
     Base (for Global alterations)
     ========================================================================== */
* {
     color: $dark_blue;
}

body {
     width: 95%;
     height: 100%;

     padding: 0;
     margin: 0 auto;

     font-family: $poppins;
     background-color: $light_grey;
}

a {
     text-decoration: none;
}

a:hover {
     color: $my_yellow;
}

main {
     margin-top: 2vh;
}
