/*   ==========================================================================
     Base (for Global alterations)
     ========================================================================== */
* {
     color: $text_col;
}

body {
     width: 95%;
     height: 100%;

     padding: 0;
     margin: 0 auto;

     font-family: $playfair;
     background-color: $background;
}

a {
     text-decoration: none;
}

a:hover {
     color: $highlight;
}

main {
     margin-top: 2vh;
}
