/*   ==========================================================================
     Base (for Global alterations)
     ========================================================================== */
* {
     color: $text_col;
     font-family: $quicksand;
}

body {
     height: 100%;

     padding: 0;
     margin: 0 auto;

     background-color: $background;
}

header {
     height: 100%;
     width: 100%;
}

a {
     text-decoration: none;
}

ul {
     list-style-type: none;
}
