/*   ==========================================================================
     Fonts (Initially with examples)
     ========================================================================== */

/* Typography Imports */
@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Typography */
$example_font: Arial, sans-serif;
$example_font_2: Helvetica, serif;
$roboto_condensed: 'Roboto Condensed', sans-serif;
$raleway: 'Raleway', sans-serif;
$poppins: 'Poppins', sans-serif;
$playfair: 'Playfair Display', serif;
$sans: 'Open Sans', sans-serif;
