/*   ==========================================================================
     Site Settings
     ========================================================================== */
@charset "UTF-8";

/* Colours */
/* Base Grey-Orange Highlight Scheme */
$background:        #e1e6ed;
$flavour_col:       #1D1D1B;
$highlight:         #F64967;
$text_col:          #000;

/* Testing and Example Colours */
$extreme_red:       #f00;
$extreme_green:     #0f0;
$extreme_blue:      #00f;
$facebook_blue:     #3b5998;
$twitter_blue:      #43bfe1;

/* Example Grid and Width Settings */
$example_full_width: 1000px;
