/*   ==========================================================================
     Site Settings
     ========================================================================== */
@charset "UTF-8";

/* Colours */
/* Base Yellow-Grey Scheme */
$light_grey:        #E8E5E8;
$muted_biege:       #A9A492;
$my_yellow:         #E5AB1A;
$muted_blue:        #68809F;
$dark_blue:         #333B3B;

/* Testing and Example Colours */
$extreme_red:       #f00;
$extreme_green:     #0f0;
$extreme_blue:      #00f;
$facebook_blue:     #3b5998;
$twitter_blue:      #43bfe1;

/* Example Grid and Width Settings */
$example_full_width: 1000px;
