/*   ==========================================================================
     Nav
     ========================================================================== */

.header__wrap {
     padding-top: 2vh;
}

.navigation__wrap {
     display: flex;
}

.navigation__wrap--outer {
     justify-content: space-between;
}

.navigation__wrap--inner {
     justify-content: flex-end;
}
